<div class="comment-box clr">
  <% @fonts.each do |f| %>
    <div class="pop-text">
      <img src="<%= f.img_url %>" width="300" alt="">
      <span><%= f.display_name %></span>
      <span class='agrees'><%= pluralize(f.agrees_count, 'Agree') %></span>
      <img src="/web-assets/images/heartsmall.png" width="22" height="20" alt="like" title="like" />
    </div>
  <% end %>
</div>
