<section id="stream-3">
<div class="pro-header-a ">
  <section class="popular-section">
    <span>My Updates</span>
  </section>
</div>

<div class="wrapper pro-header-b network-update">
  <table>
    <tr>
      <td>
        <a class="pro-img-big">
          <img src="/web-assets/images/pic1.png">
        </a>
      </td>
      <td class="td1">
        <img src="/web-assets/images/follow.png" width="18" height="18" alt="" title="" class="network-icon"/>
      </td>
      <td>
        <h1><span>Typovar</span> Started following your feeds.</h1>
      </td>
      <td>
        <h2>JUST NOW</h2>
      </td>
    </tr>

    <tr >
      <td>
        <a class="pro-img-big">
          <img src="/web-assets/images/pic1.png">
        </a>
      </td>
      <td class="td1">
        <img src="/web-assets/images/follow.png" width="18" height="18" alt="" title="" class="network-icon"/>
      </td>
      <td>
        <h1><span>Typovar</span> agreed on your spotting of <span>Brokenscript Bold Cond.</span>.</h1>
      </td>
      <td>
        <h2>JUST NOW</h2>
      </td>
    </tr>
  </table>
</div>
</section>
