<section id="stream-4">
<div class="pro-header-a ">
  <section class="popular-section">
    <span>Network Updates</span>
    <img class='settings-icon' src="/web-assets/images/settings.png" height="16" width="16" alt="" title=""/>
  </section>
</div>

<div class="wrapper pro-header-b my-update">
  <img src="/web-assets/images/like.png" width="18" height="18" title="" alt="">
  <h1><span>tomo</span>  likes 3 posts</h1>
  <h2>JUST NOW</h2>
  <div>
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
  </div>
</div>

<div class="wrapper pro-header-b my-update">
  <img src="/web-assets/images/favourite.png" width="18" height="18" title="" alt="">
  <h1><span>Typovar</span> added <span>BROKENSCRIPT BOLD COND</span> to favourites</h1>
  <h2>JUST NOW</h2>
</div>

<div class="wrapper pro-header-b my-update">
  <img src="/web-assets/images/follow.png" width="18" height="18" title="" alt="">
  <h1><span>tomo</span> started following<span> juan </span></h1>
  <div>
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
  </div>
</div>

<div class="wrapper pro-header-b my-update">
  <img src="/web-assets/images/spot.png" width="18" height="18" title="" alt="">
  <h1><span>Typovar</span> spotted <span>ITC GARAMOND CONDENSED</span>, 3 others agreed</h1>
  <h2>YESTERDAY</h2>
  <div>
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
    <img src="/web-assets/images/pro-a.png" height="49" width="49" title="" alt="">
  </div>
</div>
</section>
