<section id="stream-2">
<div class="pro-header-a wrapper">
  <section class="popular-section">
  <span>Popular</span>
  </section>
</div>

<div class="pro-header-a wrapper">
  <section class="list-a">
  <div class="center-ul">
    <%= render 'popular_cta' %>
  </div>
  </section>
</div>

<section id='popular_section_container' class="list-a-expanded wrapper">
  <%= render '/shared/account_list' %>
</section>
</section>
