<section id="stream-2">
<div class="pro-header-a">
  <section class="popular-section">
  <span>Popular</span>
  </section>
</div>

<div class="nav">
  <section>
  <div class="pro-header-c">
    <%= render 'popular_cta' %>
  </div>
  </section>
</div>

<section id='popular_section_container' class="wrapper">
  <%= render '/shared/account_list' %>
</section>
</section>
