@font-face {
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.eot');
	src: local('?'), url('fonts/BebasNeue.woff') format('woff'), url('fonts/BebasNeue.ttf') format('truetype'), url('fonts/BebasNeue.svg') format('svg');
	src:   url('fonts/BebasNeue.ttf') format('truetype');/**fix bug in android***/
	font-weight: normal;
	font-style: normal;
}


   * { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none;font-weight:inherit; font-style:inherit; font-family:inherit;border:none }
	:focus{outline:0}
	body{line-height:1.6em; color:black; background-color:transparent;}
	ol, ul{list-style:none}
	img{ vertical-align: baseline; }

	/*Typographic CSS*/
		html {font-size:65.2%;}
		body {line-height:1.6em;font-family:Helvetica,Arial;font-size:1.4em;background-color:#FFF}
		
		body a:visited,body a:link{color:#CD3333}
	/*Typographic CSS*/
	
	.float_left{float:left}
	.bold{font-weight:bold}
	#wrapper{margin:30px auto;width:80%}
	.clear{overflow:hidden}
	.clear_both{clear:both}
	#header h1{text-indent:-99999px;margin-bottom:10px}
	#header h1 a{background:url(../images/logo.png) no-repeat;display:block;height:70px;width:121px}
	#vignette{ box-shadow:inset 0px 0px 10px rgba(0,0,0,0.7);-webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.7);-moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.7);border-radius:10px;-webkit-border-radius:10px-moz-border-radius:10px;border:1px solid #555;-webkit-background-clip:padding-box;width:720px;height:720px}
	#vignette img{position: relative;z-index: -1;border-radius:10px;-webkit-border-radius:10px-moz-border-radius:10px;-webkit-background-clip: padding-box;width:720px;height:720px}
	#content{width:70%;float:left}
	#sidebar{width:28%;float:left;padding:5px 0px}
	h3{font-size:1.5em; font-weight:400; letter-spacing:-1px;margin-bottom:4px}

	#profile img{padding:3px;border:1px solid #F1F1F1;-moz-box-shadow:0 0 5px #999;-webkit-box-shadow: 0 0 5px #999}
	#profile div{float:left;width:70%;margin-left:20px;}
	#profile div p{color:#999; font-size:0.9em;line-height:1.4em}
	#profile div span{font-weight:bold;margin-right:5px; font-size:1em}
	p.clear_both{margin-top:10px;color: #707070}
	#font_listing{margin:10px 0}
	.font_icon{background:url(../images/tags.png) no-repeat 0 75%;padding-left:17px;margin-bottom:30px}
	.font h4{font-size:1.8em;color:#CC3431;font-family:BebasNeue;}
	.font{margin:15px 0}

	.font_area .unbold{font-weight:100;}
	#useraction{font-weight:700;margin:10px 0}
	#useraction span{margin-right:10px; background-repeat:no-repeat;padding-left:20px;}
	.likes{background-image: url("../images/like.png")}
	.comment{background-image: url("../images/comment.png")}
	
	#hello_fontli{margin:30px 0 10px; padding:10px 0; }
	#hello_fontli h1{font-family:BebasNeue; font-size:2.8em; line-height:1.2em }
	
	#hello_fontli h1{margin:10px 0}
	#copyright{border-top:1px solid #000;padding:15px 0 0}
	#copyright p{color:#999}
	
	.font_area h1{background: url(../images/gradient.png) no-repeat 100% 0;margin:5px 0 0}
	.font h1 p{background: url(../images/font.gif) no-repeat;height:75px;width:100%;position:relative;z-index:-1;text-indent:-9999px}
.font_area img{position:relative;z-index: -1;width:100%}
	
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
#wrapper{width:95%;font-size:1.4em;line-height:1.8em}
#content,#sidebar{float:none;width:100%}
#hello_fontli{border-top:1px solid #000}
#sidebar{margin-top:30px;}
#hello_fontli h1{font-size:1.8em}
#header h1 a{background:url(../images/logomobile.png) no-repeat;display:block;height:42px;width:70px}
}


@media only screen
and (min-width : 321px){
 #vignette img,  #vignette{width:450px ;height:450px}

}

@media only screen
and (max-width : 320px){
#vignette img, #vignette{width:300px;height:300px}

}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
#wrapper{width:95%;}
 #profile div{width:30%}
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
#vignette img,#vignette{width:650px;height:650px }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 #vignette img,#vignette{width:475px;height:475px }
}



@media only screen
and (min-width : 1224px){
#wrapper{width:90%}
 #vignette img,#vignette{width:780px;height:780px;border:none; }


}

/*
@media only screen
and (min-width : 800px) and (orientation:portrait) {
 #vignette img,#vignette{border:none; width:500px;height:500px;border:none;}

}*/

 



	
	
