<% frnd = !@friend_ids[u.id].nil? %>
<tr>
  <td class="lt-td1">
    <a class="pro-img-big">
      <img src="<%= u.url_thumb %>">
    </a>
  </td>
  <td class="lt-td2">
    <h1>
      <%= u.username %>
    </h1>
    <h2><%= u.full_name %></h2>
  </td>
  <td class="lt-td3">
    <button class="button-a flt-right <%= 'selected' if frnd %>">Follow</button>
  </td>
</tr>
