<div class="controls wrapper">
  <a href="#" class="prev-page">
    <img src="/web-assets/images/left-arrow.png" width="50" height="50" alt="left-arrow" title="Previous Page" />
  </a>
  <a href="#" class="next-page">
    <img src="/web-assets/images/right-arrow.png" width="50" height="50" alt="right-arrow" title="Next Page" />
  </a>
</div>
