<div class="controls">
  <a href="#" class="prev-page">&lt;&lt;</a>
  <a href="#" class="prev-slide">&lt;</a>
  <a href="#" class="next-slide">&gt;</a>
  <a href="#" class="next-page">&gt;&gt;</a>
</div>
