<% perma ||= false %>
<div class="wrapper footer">
  <ul>
    <li><a href="/faq-web.html">FAQ</a></li>
    <li><a href="http://storify.com/Fontli/fontli-buzz" target="blank">FONTLI Buzz</a></li>
    <li><a href="/privacy-web.html">privacy</a></li>
    <li><a href="http://fontli.tumblr.com" target="blank">blog</a></li>
    <li><a href="http://www.pramati.com" target="blank">PRAMATI TECHNOLOGIES</a></li>
  </ul>

  <% if perma %>
    <h5 class='qrcode-links'>
      Available for <a href="javascript:;" class='apple'>iOS</a> and <a href="javascript:;" class='wp'>WP</a>
    </h5>
  <% else %>
    <h5>Available for iOS and WP</h5>
  <% end %>
</div>
