<div class="wrapper footer">
  <ul>
    <li><a href="/faq-web.html">FAQ</a></li>
    <li><a href="http://storify.com/Fontli/fontli-buzz" target="blank">FONTLI Buzz</a></li>
    <li><a href="/privacy-web.html">privacy</a></li>
    <li><a href="http://fontli.tumblr.com" target="blank">blog</a></li>
    <li><a href="http://www.pramati.com" target="blank">PRAMATI TECHNOLOGIES</a></li>
  </ul>
  <h5>Available for iOS and WP</h5>
</div>
