<div id='popup_container'>&nbsp;</div>
<div id='popup_loader' class='hidden'>
  <div class='popup closed'>
    <div class='left-pop' style='width:480px;'>
      <img src='/web-assets/images/ajax-loader.gif' alt="Loading..." style='margin-top:250px;' />
    </div>
  </div>
</div>
