<div id='popup_container'>&nbsp;</div>
<div id='popup_loader'>
  <div class='popup closed'>
    <div class='left-pop'>
      <img src='/web-assets/images/ajax-loader.gif' alt="Loading..." class='loader' />
    </div>
    <div class='right-pop'>&nbsp;</div>
  </div>
</div>
