<%= form_tag login_path(:facebook), :id => 'fb_connect_form' do %>
  <button type="submit" value="fb_connect">CONNECT WITH <br/>FACEBOOK</button>
<% end %>
<%= form_tag login_path(:twitter), :id => 'twitter_connect_form' do %>
  <button type="submit" value="twitter_connect">CONNECT WITH <br/>TWITTER</button>
<% end %>
