<!DOCTYPE html> 
<html> 
  <head>
    <title>Fontli</title>
    <meta content="charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black" />
    <meta name="description" content="Fontli lets designers and Type enthusiasts to discover fonts and great Typography. Using Fonli you can capture interesting Typography from everyday life and share it with a vibrant community of type lovers." />

    <link rel="image_src" type="image/gif" href="http://www.fontli.com/splash-assets/images/fontli-thumbnail-new.gif" />
    <link rel="apple-touch-icon" href="/perma-assets/images/icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/perma-assets/images/ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/perma-assets/images/Icon4.png" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      function slideSwitch() {
        var $active = $('#slideshow DIV.active');
        if ( $active.length == 0 ) $active = $('#slideshow DIV:last');
        // use this to pull the divs in the order they appear in the markup
        var $next =  $active.next().length ? $active.next() : $('#slideshow DIV:first');
        // uncomment below to pull the divs randomly
        // var $sibs  = $active.siblings();
        // var rndNum = Math.floor(Math.random() * $sibs.length );
        // var $next  = $( $sibs[ rndNum ] );
        $active.addClass('last-active');
        $next.css({opacity: 0.0})
          .addClass('active')
          .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
          });
      }

      $(function() {
        setInterval( "slideSwitch()", 5000 );
      });
    </script>
    <link rel="stylesheet"  href="/perma-assets/css/app.css"  media="screen" />
    <!--[if IE]><link rel="stylesheet" type="text/css"  href="/perma-assets/css/ie.css"/><![endif]-->
    <style type="text/css">
      div.share { margin-top:20px; margin-bottom: 10px; }
      .twitter-share-button { display: block; margin-bottom: 10px; }
    </style>
  </head>
  <body>
    <% is_mob_req = mob_req? %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=262992783766760";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="homepage">
      <div class="clear">
        <div id="<%= is_mob_req ? 'iphone' : 'sidebar' %>">
          <div id="fontli">
            <h1 class="logo"><a href="http://www.fontli.com">Fontli</a></h1>
            <div id="hello_fontli">
              <h1>Pure Type Love!</h1>
              <p>Embrace the beautiful world of Typography. Capture, Share and Discover. See your favourite Typefaces in action. Meet crazy typoholics.
              </p>

              <h1<% unless is_mob_req %> id="trademark"<% end %> ><a target="blank" href="http://itunes.apple.com/us/app/fontli/id506650372?ls=1&mt=8"><img src="/perma-assets/images/<%= 'iphone_' if is_mob_req %>icon.png"/></a><a target="blank" href="http://itunes.apple.com/us/app/fontli/id506650372?ls=1&mt=8"><img src="/perma-assets/images/appstore.png" alt="appstore" title="Fontli - available in Appstore"></a></h1>
            </div>
            <div class="share">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fontli.com" data-text="@fontli, Fontli- discover and share pure type love!">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <div class="fb-like" data-href="http://www.fontli.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            </div>

          </div>
        </div>

        <div id="content" class="resizetoweb" >
          <div id="slidebody">
            <% unless is_mob_req %>
            <div class="freetag">"its free"</div>
            <div id="slideshow">
              <div class="active">
                <img src="/perma-assets/images/slides/slide0a.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide05.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide00.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide01.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide01b.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide02.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide02a.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide03.png"/>
              </div>
              <div>
                <img src="/perma-assets/images/slides/slide04.png"/>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div id="copyright">
        <p><a target="_blank" href="http://fontli.tumblr.com">Blog</a>&nbsp;|&nbsp;<a target="_blank" href="http://twitter.com/fontli">@fontli</a>&nbsp;|&nbsp;<a href="/faq-web.html">FAQ</a>&nbsp;|&nbsp;<a href="/terms-web.html">Terms</a>&nbsp;|&nbsp;<a href="/privacy-web.html">Privacy</a>&nbsp;|&nbsp;Mail your feedback and enquiries to <a href="mailto:info@fontli.com">info@fontli.com</a></p>
        <p>Fontli is freshly cooked at <a target="blank" href="http://www.imaginea.com/labs">Imaginea Labs</a>. Copyright &copy; <%= Time.now.year %>, Pramati Technologies Private Limited.</p>
      </div>
    </div>

  </body>
</html>
