<!DOCTYPE html> 
<html> 
  <head>
    <title>Fontli- discover and share pure type love!</title>
    <meta content="charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black" />
    <meta name="description" content="Fontli lets designers and Type enthusiasts to discover fonts and great Typography. Using Fonli you can capture interesting Typography from everyday life and share it with a vibrant community of type lovers." />
    <link rel="stylesheet" type="text/css" href="/splash-assets/style.css" />
    <link rel="image_src" type="image/jpeg" href="http://www.fontli.com/splash-assets/images/fontli-thumbnail.gif" />
  </head> 
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113587155421623";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <section>
    <header>
    <div class="logo">
      <h1>fontli</h1>
    </div>

    </header>
    <article>
    <h2 class="boldtype">discover and share pure type love!</h2>
    <p class="caption">Coming soon on popular mobile platforms. <br/>To see it first, drop your email below or follow us <a href="http://www.twitter.com/fontli" target="_blank">@fontli</a>
    <%= form_tag do %>
      <% if @resp %> <p class='caption resp'> <%= @resp %> </p> <% end %>
      <input class="whiteblock" type="text" name="email" value='<%= params[:email] %>' />
      <input class="submitbtn" type="submit" value="SUBMIT"/> <br />
    <% end %>
    <div class="share">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fontli.com" data-text="@fontli, Fontli- discover and share pure type love!">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-like" data-href="http://www.fontli.com/" data-send="false" data-layout="button_count" data-show-faces="false"></div>
    </div>
    </article>

    </section>

  </body>
</html>
