<% follow = n.notifiable %>
<li class="follow">
  <div class="text">
    <a class="author" href="profile:<%= n.from_user_id %>"><%= n.from_user.username %></a> started following your feeds
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
