/***reset*****/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;-webkit-user-select:none;
    -webkit-text-size-adjust:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}ul{list-style:none;}blockquote,q{quotes:none;}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}input,select{vertical-align:middle;}
/******reset*****/

body{
background:url(images/tile-dark.gif) #333;
font-family:helvetica, arial, sans-serif; 
}
section{
width:860px; margin:0 auto; 
padding:0 20px;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.logo{
background: url(images/fontlylogo.svg) no-repeat top center; 
background-size:100%;
width:140px;
height:80px;
text-indent:-999px;
position:absolute;
margin: 70px 0 0 120px;
}
article{
background: url(images/splashpagebg.svg) no-repeat top center; 
background-size:65%;
}

h2{color:white; font-size:3.5em; line-height:1.1em; text-align:center; padding-top:410px; text-shadow: black -2px 2px 0px;}
.boldtype{font-family: 'BebasNeueRegular', helvetica, arial, sans-serif; font-weight:normal;}
.caption{font-family: 'BebasNeueRegular', helvetica, arial, sans-serif; font-size:1.5em; color:#999; letter-spacing:.05em; line-height:1.3em; text-align:center;text-shadow: black -1px 1px 0px;}
a{text-decoration:none;}
a:link, a:hover, a:active, a:visited{color:#62B6EF;}
a:hover{color:white;}

form{margin-top:15px; text-align:center; margin-bottom: 15px; }
.resp{color:#fff; margin-bottom: 10px; }
.whiteblock{padding:2px 10px; font-size:1.5em; color:#333; border:none; font-weight:bold; width:330px;height:42px;}
.submitbtn{background:#62B6EF; padding:8px 7px 6px ; height:46px; font-size:1.5em; color:#333; border:none; font-family: 'BebasNeueRegular', helvetica, arial, sans-serif; letter-spacing:.04em;}
.submitbtn:hover{color:white;}

div.share{margin:15px 0; position:absolute; top:10px; right:0px;}
.twitter-share-button{vertical-align:bottom; margin-bottom:15px; display:block;}
