/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset-grid
 *= require style
 *= require style1
 *= require jquery.mCustomScrollbar
 *= require jquery-ui
 *= require_self
*/
.clear { clear: both; }

/*Override search dropdown styles from jquery-ui*/
.ui-widget-content{
  background: none repeat scroll 0 0 #F4F4F4;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.ui-widget-content .ui-state-hover{
  background:#ECECEC;
  border-bottom:1px solid #fff;
  border-top:1px solid #ccc;
}
